################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EbaySharp/obj
/.vs
/EbaySharp/bin/Debug/net6.0
/EbaySharp/bin
/EbaySharp.Tests/bin/Debug/net9.0
*.csproj
/EbaySharp.Tests/obj
